<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="css/sc-ui.css">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
	<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
</head>

<body>

	<div class="content" ng-app="fonotvApp" ng-controller="scSigninController">
		<div class="sc-ui">
			<a ng-click="connect_sc()">
				<img src="img/btn-connect-s.png" />
			</a>

			<div ng-show="soundcloud.show_avatar">
				<p ng-bind="soundcloud.username" id="userName"></p>
				<img ng-src={{soundcloud.avatar}} id="userAvatar" />
			</div>
			<div id="playlists">
				<p ng-show="soundcloud.show_playlist">Playlists: </p>
				<ul>
					<li ng-click="play_playlist(title)" ng-repeat="(title, link) in soundcloud.playlists">
						{{title}}
					</li>
				</ul>
			</div>

			<div ng-bind-html="soundcloud.player" id="player"></div>
		</div>
	</div>

  <script src="js/core.js"></script>
  <script src="js/controllers/scsignin.js"></script>
  <script src="js/services/videolinks.js"></script>
</body>
</html>
